services:
  database:
    image: mysql:8.0
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  symfony:
    container_name: symfony
    image: symfony
    build: .
    volumes:
      - ./:/var/www/html
    environment:
      DATABASE_URL: mysql://user:password@database:3306/app?serverVersion=8.0&charset=utf8mb4
    ports:
      - "8080:80"
    depends_on:
      - database

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: database
      PMA_USER: user
      PMA_PASSWORD: password
    depends_on:
      - database

volumes:
  db_data:
